.partners{
    margin-bottom: 100px;
}   

.partners__items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.partners__logo{
    margin-top: 80px;
}

.logo{
    padding: 0 30px 20px 0 ;
    width: 20%;
}

.partners__title{
    font-family: Open Sans Condensed;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

.partners__title span{
    color: #D1A954;
}